

@font-face {
  font-family: "zhandelson-three";
  src: url("/fonts/zhandelson-three.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* luego tus estilos… */
body {
  margin: 0;
  font-family: sans-serif;
}
